<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/500/400');">
  <div class="card-category"><%= renter_booking.date %></div>
  <div class="card-description">
    <h2><%= renter_booking.celeb.first_name %><%= renter_booking.celeb.last_name %></h2>
    <p>[<%= renter_booking.status %>] - <%= renter_booking.content %></p>
  </div>
  <div class="card-user avatar"><%= renter_booking.celeb.price_per_day %>€</div>
  <%#= link_to "", restaurant_path(restaurant), class: "card-link" %>
</div>
<div>
  <%#= link_to "Approve", accept_dashboard_booking_path(renter_booking.id), class: "btn btn-primary" %>
  <%#= link_to "Decline", decline_dashboard_booking_path(renter_booking.id), class: "btn btn-primary" %>
  <%= link_to "Cancel", cancel_dashboard_booking_path(renter_booking.id), class: "btn btn-primary" %>
  <% if DateTime.strptime(renter_booking.date, '%m/%d/%Y') < DateTime.now  %>
    <%= link_to "Review", new_profile_review_path(renter_booking.id), class: "btn btn-primary" %>
  <% end %>
  <%#= link_to "Delete", profile_booking_path(booking.id), class: "btn btn-danger" %>
</div>

