<ul><% @renter_bookings.each do |renter_booking| %>
  <li><h2><%= renter_booking.celeb.first_name %> <%= renter_booking.celeb.last_name %></h2></li>
  <li><p><%= renter_booking.content %></p></li>
  <li><p><%= renter_booking.price %></p></li>
  <li><p><%= renter_booking.status %></p></li>
  <li><p><%= renter_booking.date %></p></li>
  <%= link_to "Approve this request", accept_dashboard_booking %>
  <%= link_to "Decline this request", decline_dashboard_booking %>
  <%= link_to "Cancel this request", cancel_dashboard_booking %>
<% end %> </ul>

