<h1 class="text-center">Your bookings by renters</h1>
<div class="container">
 <div class="row">
   <% @renter_bookings.each do |renter_booking| %>
   <div class="col-xs-12 col-sm-6 col-md-3">
     <%= render "card", booking: renter_booking %>
   </div>
   <% end %>
 </div>
 <%#= link_to 'Back', profile_path, class: "btn btn-danger" %>
</div>

<h1 class="text-center">Your bookings of celebrities</h1>
<div class="container">
 <div class="row">
   <% @celeb_bookings.each do |celeb_booking| %>
   <div class="col-xs-12 col-sm-6 col-md-3">
     <%= render "card", booking: celeb_booking %>
  <%= link_to "Approve", accept_dashboard_booking_path(celeb_booking.id), class: "btn btn-primary" %>
  <%= link_to "Decline", decline_dashboard_booking_path(celeb_booking.id), class: "btn btn-primary" %>
  <%= link_to "Cancel", cancel_dashboard_booking_path(celeb_booking.id), class: "btn btn-primary" %>
   </div>
   <% end %>
 </div>
 <%#= link_to 'Back', profile_path, class: "btn btn-danger" %>
</div>

