
<h3>Edit your profile:</h3>

<%= simple_form_for @profile, url: profile_path do |f| %>
  <%= f.input :first_name, placeholder: "Your first name."%>
  <%= f.input :last_name, placeholder: "Your last name."%>
  <%= f.input :address, placeholder: "Your address."%>
  <%= f.input :email, placeholder: "Your e-mail."%>
  <%= f.input :phone_number, placeholder: "Your phone number."%>
  <%= f.input :price_per_day, placeholder: "Your price per day." if @profile.role != "Renter" %>
  <%= f.input :role, collection: User::ROLES, prompt: "Choose one"  %>
  <%= f.input :profile_picture %>
  <%= f.input :profile_picture_cache, as: :hidden %>
  <%= f.submit %>

<% end %>

<% if @profile.role != "Renter" %>
  <h2>Add specialties</h2>
  <%= simple_form_for UserSpeciality.new , url: profile_new_speciality_path(@profile), method: :post do |f| %>
    <%= f.association :speciality %>
    <%= f.submit %>
  <% end %>
<% end %>
