
<h3>Edit your profile:</h3>

<%= simple_form_for @profile, url: profile_path do |f| %>
  <%= f.input :first_name, placeholder: "Your first name."%>
  <%= f.input :last_name, placeholder: "Your last name."%>
  <%= f.input :address, placeholder: "Your address."%>
  <%= f.input :email, placeholder: "Your e-mail."%>
  <%= f.input :profile_picture %>
  <%= f.input :profile_picture_cache, as: :hidden %>
  <%= f.submit %>


<% end %>


