<h1>Results of your search:</h1>

<div class="container">
  <div class="row">
  <% @profiles.each do |profile| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
      <div class="card-description">

        <h2><%= profile.first_name.capitalize %> <%= profile.last_name.capitalize %></h2>
  <%= cl_image_tag profile.profile_picture, height: 300, width: 400, crop: :fill %>
        <p><b>Role: </b><%= profile.role %></p>
        <p><b>Address: </b><%= profile.address %></p>
        <p><b>E-mail: </b><%= profile.email %></p>
        <p><%= link_to "show", profile_path(profile), method: :get %></p>


      </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
