<h1>Results of your search:</h1>

<div class="container">
  <div class="row">
  <% @profiles.each do |profile| %>
    <div class="col-xs-6">

        <h2><%= profile.first_name.capitalize %> <%= profile.last_name.capitalize %></h2>
        <% avatar_url = current_user.facebook_picture_url || profile.profile_picture %>
        <%= cl_image_tag avatar_url, height: 300, width: 400, crop: :fill %>
        <p><b>Role: </b><%= profile.role %></p>
        <p><b>Address: </b><%= profile.address %></p>
        <p><b>E-mail: </b><%= profile.email %></p>
        <p><%= link_to "show", profile_path(profile), method: :get %></p>

  <% end %>

    </div>


  <div class="col-xs-6" id="map" style="width: 50%; height: 300px;"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>

  </div>

  </div>
</div>




