<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= cl_image_tag @profile.profile_picture, height: 300, width: 400, crop: :fill %>

    </div>
    <div class="col-xs-12 col-sm-6">
      <h2><%= @profile.first_name.capitalize %> <%= @profile.last_name.capitalize %></h2>

      <p><b>E-mail: </b><%= @profile.email %></p>
      <p><b>Phone number: </b><%= @profile.phone_number %></p>
      <p><b>Address: </b><%= @profile.address %></p>
      <p><b>Role: </b><%= @profile.role %></p>
      <% if @profile.role != "Renter" %>
      <p><b>Price: </b><%= @profile.price_per_day %> <small>EUR</small> / day</p>
      <p><b>Specialities: </b>
        <ul>
          <% @profile.specialities.each do |spec| %>
          <li><%= spec.name %></li>
          <% end %>
        </ul>
      </p>
      <% end %>
      <p><%= link_to "Book", new_profile_booking_path(@profile), class: "btn btn-primary",  method: :get if @profile != current_user %></p>

      <p><%= link_to "Edit", edit_profile_path(@profile), class: "btn btn-primary", method: :get if @profile == current_user%></p>
    </div>


    <ul>
      <%@reviews_renter.each do |rev| %>
      <li>
       <b><%= User.find(rev.renter_id).first_name%>
         <%= User.find(rev.renter_id).last_name%>:</b>
         <%= rev.content%>
         <%= rev.rating%>
         <% end %>
       </li>
     </ul>

     <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&maptype=roadmap&markers=color:red|#{@profile.address}" %>
