<h2><%= @profile.first_name %> <%= @profile.last_name %></h2>


  <%= cl_image_tag @profile.profile_picture, height: 300, width: 400, crop: :fill %>



<p><%= link_to "book", new_profile_booking_path(@profile), method: :get %> <%= link_to "edit", edit_profile_path(@profile), method: :get %></p>


